[Unit]
Description=Raspberry Pi Video Signage Player
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/raspi-pyvlc-player
Environment=DISPLAY=:0
ExecStart=/home/pi/raspi-pyvlc-player/venv/bin/python app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
